html {
  height: 100%;
}

body {
  font-family: "Verdana", Times, serif;
  margin: 0;
  height: 100%;
  /*background-color: #fafafa;*/
  background: rgb(0, 4, 25);
  background: radial-gradient(
    circle,
    rgba(0, 4, 25, 1) 0%,
    rgba(43, 16, 112, 1) 89%,
    rgba(61, 32, 135, 1) 100%
  );
}

#wrapper {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#head-text {
  text-align: center;
  color: rgb(177, 177, 177);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(21, 20, 20, 0.92);
}

#input-forms {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-forms > input {
  width: 100%;
}

/*#input-forms > input::placeholder{
  color: rgb(153, 153, 153);
}*/

#input-forms > select {
  width: 110%;
}

select > option{
  color:rgb(0, 102, 161);
}

.similar-input {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  transition: 0.3s border-color;
  transition: 0.3s box-shadow;
  color: rgb(153, 153, 153);
  background-color: rgba(255, 123, 0, 0.384);
}

#input-forms > .similar-input:hover {
  border: 2px solid darkorange;
  box-shadow: 0 0 20px rgba(180, 103, 8, 1), inset 0 0 5px rgba(180, 103, 8, 1);
}

#connect{
  width: 50%;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  border: 1px solid rgb(163, 163, 163);
  transition: 0.3s border-color;
  transition: 0.3s box-shadow;
  color: rgb(153, 153, 153);
  background-color: rgba(0, 153, 255, 0.384);
}

#connect:hover {
  border: 2px solid rgb(0, 162, 255);
  box-shadow: 0 0 20px rgb(0, 162, 255), inset 0 0 5px rgb(0, 162, 255);
}

#time {
  margin: 50px auto;
  color: darkorange;
  font-size: 80px;
  height: 100px;
}

.button > h3 {
  color: darkgray;
}

.switch-btn {
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */
  background: darkgray; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 32px; /* высота кнопки */
  width: 32px; /* ширина кнопки */
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: darkorange;
}
.switch-on::after {
  left: 37px;
}

#state {
  margin: 15pt;
  color: darkgray;
  font-size: 20px;
}


/* ---  for loading animation --- */
#floatingBarsG{
	position:relative;
	width:85px;
	height:106px;
}

.blockG{
	position:absolute;
	background-color:rgb(255,255,255, 0);
	width:14px;
	height:33px;
	border-radius:11px 11px 0 0;
	transform:scale(0.4);
	animation-name:fadeG;
	animation-duration:1.2s;
	animation-iteration-count:infinite;
	animation-direction:normal;
}

#rotateG_01{
	left:0;
	top:39px;
	animation-delay:0.45s;
	transform:rotate(-90deg);
}

#rotateG_02{
	left:11px;
	top:14px;
	animation-delay:0.6s;
	transform:rotate(-45deg);
}

#rotateG_03{
	left:36px;
	top:4px;
	animation-delay:0.75s;
	transform:rotate(0deg);
}

#rotateG_04{
	right:11px;
	top:14px;
	animation-delay:0.9s;
	transform:rotate(45deg);
}

#rotateG_05{
	right:0;
	top:39px;
	animation-delay:1.05s;
	transform:rotate(90deg);
}

#rotateG_06{
	right:11px;
	bottom:10px;
	animation-delay:1.2s;
	transform:rotate(135deg);
}

#rotateG_07{
	bottom:0;
	left:36px;
	animation-delay:1.35s;
	transform:rotate(180deg);
}

#rotateG_08{
	left:11px;
	bottom:10px;
	animation-delay:1.5s;
	transform:rotate(-135deg);
}



@keyframes fadeG{
	0%{
    background-color: rgb(177, 177, 177);
    box-shadow: 0 0 20px rgba(180, 103, 8, 1), inset 0 0 7px rgba(180, 103, 8, 1);
	}

	100%{
    background-color:rgba(0,0,0,0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
	}
}

/* ---  END for loading animation --- */

[hidden] {
  display: none !important;
}