html{
  height: 100%;
}

body {
  font-family: "Verdana", Times, serif;
  margin: 0;
  height: 100%;
  background-color: #fafafa;
}

#wrapper {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#head-text {
  text-align: center;
  color: rgb(119, 119, 119);
}

#input-forms{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.similar-input{
  margin:10px 0;
  padding:10px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  border-radius: 5px;
  border: 1px solid #eee;
  transition: .3s border-color;
  transition: .3s box-shadow;
  color: #777777;
}

#input-forms > input {
  width: 100%;
}

#input-forms  > select {
  width: 110%;
}

#input-forms > .similar-input:hover {
  border: 1px solid darkorange;
  box-shadow:0 0 10px rgba(180, 103, 8, 1);
  
}



#time{
    margin: 50px auto;
    color: darkorange;
    font-size:80px;
    height: 100px;
}

.button > h3{
  color: darkgray;
}

.switch-btn {
  display: inline-block;
  width: 72px; /* ширина */
  height: 38px; /* высота */ 
  background: darkgray; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  height: 32px; /* высота кнопки */
  width: 32px; /* ширина кнопки */ 
  background: #fff; /* цвет кнопки */
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 3px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: darkorange;
}
.switch-on::after {
  left: 37px;
}

#state {
  margin: 15pt;
  color: darkgray;
  font-size: 20px;
}